html, body{
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
 }
 
 .content {
    flex:1;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold; 
    margin: 10px;
}

header{
    background-color: rgb(61, 97, 150);
    padding: 10px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar a:hover {
    background-color: #fffdfd;
    color: rgb(197, 47, 47);
}

.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: Arial, sans-serif;
    margin: 1em;
}

.counter button {
    width: 60px; 
    height: 30px; 
    font-size: 16px; 
    color: white; 
    background-color: #007bff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
.counter button:hover {
    background-color: #0056b3; 
}
#counterLabel {
    font-size: 24px; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


#utbildningar, #arbetsplatser{
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}
.contact-container i{
    margin-right: 0.7em;
}

.email, .phone, .discord{
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    padding: 1.5em;
    font-size: 1.5em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.pres-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    gap: 20px;
 }
 
 .pictureofme img{
    padding-top: 20px;
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 10px;
    box-shadow:#000;
    margin-left: 10em;
}
 .pres-text {
    margin:20px;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    line-height: 1.5;
    margin-right: 10em;
}
 
 .pres-text h2 {
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
}
 
 .pres-text p{
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
}
 .projectholder {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}
.project1, .project2, .project3{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-width: 250px;
}

.info-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #c0a8a8;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px; 
}

.modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal2{
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content2{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
}

.modal-content2 p{
    text-align: center;
    font-size: 2em;
}


.modal:target {
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: auto; 
}
.modal-content p{
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}

.modal-content h2{
    font-size: 24px;
    color: #000;
    font-family: 'Georgia', serif;
    text-align: center;
    margin-bottom: 30px;
}




.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cvcontent h2{
    text-align: center;
    font-size: 3em;
}
.cvcontent li{
    text-align: center;
    font-size: 1.5em;
    list-style:  none;
}

.rashford img{
    width: 100%;
    height: 100%;
    background: cover;
    margin-top: 1em;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

@media (max-width: 768px) {

    content{
        flex-direction: column;
        align-items: center;
    }
    .cv-container {
        flex-direction: column;
        align-items: center;
    }
    .cvpic {
        margin-left: 0;
        max-width: 100%;
    }
    .info-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .horizontal-wrapper {
        flex-direction: column;
    }
    .pres-container {
        flex-direction: column; /* Använder en kolumn på små skärmar */
        align-items: center;
    }

    #myself, .text {
        width: 100%; /* Justerar bredden för mindre skärmar */
        margin: 10px 0; /* Centrerar innehållet */
        padding: 20px;
    }
    .projectholder {
        flex-direction: column;
        align-items: center;
    }
    
}